<h2>Account Editor</h2>
<input value="{{currentAccount.accId}}" readonly/>
<input [(ngModel)]="currentAccount.accName"/>
<input [(ngModel)]="currentAccount.accCurrency"/>
<button (click)="saveAccount()">Save</button>