<div *ngFor="#account of accounts">
    <div class="accitem">
        <a [routerLink]="['TransactionList', {accid: account.accId}]">{{account.accName}}</a>
        <a [routerLink]="['AccountEditor', {id: account.accId}]">Edit</a>
    </div>
</div>
<div class="accitem">
    <a [routerLink]="['AccountEditor', {id: 'new'}]">Add account</a>
</div>
