<h2>{{account?.accName}}</h2>
<div *ngFor="#trx of transactions">
    <div data-id="{{trx.txId}}">
        <span class="trxDesc">{{trx.txDescription}}</span>
        <span class="trxAmount">{{trx.txAmount}}</span>
        <span class="trxHandle buttonFont">
            <!--{#allowChange}R{/allowChange}-->
        </span>
    </div>
</div>
